body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #cdb4db;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #ffafcc;

    /**** FLEXBOX FLEX-DIRECTION*****/
    display: flex;
   
    flex-direction: row;
    /* flex-direction: row-reverse; */


    /********** JUSTIFY-CONTETN *********/
    justify-content: center;


    /********** FLEX-WRAP & WRAP-REVERSE *********/
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */


    /* ALIGN-ITEMS */
    /* align-items: flex-end; */
    align-items: center;
    /* align-items: baseline; */


}

#container div{
    width: 200px;
    height: 200px;
    text-align: center; 
    /* font-size: 3em; */
}

