body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}

#container {
    background-color: #cdb4db;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #ffafcc;

    /**** FLEXBOX FLEX-DIRECTION*****/
    display: flex;
   
    flex-direction: column;
    /* flex-direction: row-reverse; */





    /********** JUSTIFY-CONTETN *********/
    justify-content: center;




    /* ALIGN-ITEMS */
    align-items: flex-end;
    /* align-items: center; */
    /* align-items: baseline; */


    /********** FLEX-WRAP & WRAP-REVERSE *********/
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */




    /* ALIGN-C0NTENT 
    !!!!!!!It does not work if we do not have flex-wrap activated*/
    /* align-content: flex-start; */
    /* align-content: center; */
    /* align-content: center; */



    /* align-self: ; */

}


/* div:nth-of-type(2){
    align-self: center;
}

div:nth-of-type(3){
    align-self: flex-end;
} */

div:nth-of-type(5){
    align-self: flex-start;
}



#container div{
    width: 200px;
    height: 200px;
    text-align: center; 
    /* font-size: 3em; */
}

